{% extends 'base.html' %}

{% block nav %}
<nav>
    <form action="/logout" method="post">
      {{form.hidden_tag()}}
      <button type="submit">Logout</button>
    </form>
</nav>
{% endblock %}

{% block title %}
{{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
<div>
username: {{user.username}}
</div>
<div>
email: {{user.email}}
</div>


<h4>User Notes</h4>

<form action="/users/{{ user.username }}/delete" method="POST">
  {{ form.hidden_tag() }}
  <button class = 'btn btn-danger'>Delete Account</button>
</form>

<form>
  {{ form.hidden_tag() }}
  <ul>
    {% for note in user.notes %}

    <li>
      <a href="/notes/{{ note.id }}/update">{{ note.title }}</a>
      <button formaction="/notes/{{ note.id }}/delete" class = 'btn btn-danger btn-sm' formmethod="POST">delete</button>
    </li>

    {% endfor %}
  </ul>
</form>


{% endblock %}